In [27]:
import numpy as np
import pandas as pd
import os

In [28]:
files = os.listdir("../data")

In [33]:
for file in files:
    df = pd.read_csv(f"../data/{file}")
    df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
    condition = (df[['pm25', 'pm10', 'o3', 'no2', 'so2', 'co']].sum(axis=1) == 0) & (df['aqi'] != 0)
    df.loc[condition, 'pm25'] = df['aqi']
    df.to_csv(f"../data/{file}")

In [32]:
df = pd.read_csv("D:/study/Data_visualize/CK/air_quaility/data/Ba Đình - Hà Nội.csv")
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
df

     địa điểm trạm đo        date  pm25  pm10  o3  no2  so2  co  aqi
0             Ba Đình  2014-01-01     0     0   0   40    6  28   40
1             Ba Đình  2014-01-02     0     0  22   39    8  43   43
2             Ba Đình  2014-01-03     0     0  69   25   12  28   69
3             Ba Đình  2014-01-04     0     0  24    0    0   0   24
4             Ba Đình  2014-01-05     0     0   0   35    5  33   35
...               ...         ...   ...   ...  ..  ...  ...  ..  ...
3518          Ba Đình  2023-10-15    88     0   9   12   10   0   88
3519          Ba Đình  2023-10-16   136     0  14   13   10   0  136
3520          Ba Đình  2023-10-17   148     0   9   15   10   0  148
3521          Ba Đình  2023-10-18   153     0   2   15   11   0  153
3522          Ba Đình  2023-10-19   188     0   0    0    0   0  188

[3523 rows x 9 columns]

In [31]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'địa điểm trạm đo', 'date', 'pm25',
       'pm10', 'o3', 'no2', 'so2', 'co', 'aqi'],
      dtype='object')

In [26]:
((df[['pm25', 'pm10', 'o3', 'no2', 'so2', 'co']].sum(axis=1) == 0) & (df['aqi'] != 0)).sum()

0

In [25]:
condition = (df[['pm25', 'pm10', 'o3', 'no2', 'so2', 'co']].sum(axis=1) == 0) & (df['aqi'] != 0)
df.loc[condition, 'pm25'] = df['aqi']
df

,Unnamed: 0,địa điểm trạm đo,date,pm25,pm10,o3,no2,so2,co,aqi
0,0,Ba Đình,2014-01-01,0,0,0,40,6,28,40
1,1,Ba Đình,2014-01-02,0,0,22,39,8,43,43
2,2,Ba Đình,2014-01-03,0,0,69,25,12,28,69
3,3,Ba Đình,2014-01-04,0,0,24,0,0,0,24
4,4,Ba Đình,2014-01-05,0,0,0,35,5,33,35
...,...,...,...,...,...,...,...,...,...,...
3518,3518,Ba Đình,2023-10-15,88,0,9,12,10,0,88
3519,3519,Ba Đình,2023-10-16,136,0,14,13,10,0,136
3520,3520,Ba Đình,2023-10-17,148,0,9,15,10,0,148
3521,3521,Ba Đình,2023-10-18,153,0,2,15,11,0,153
3522,3522,Ba Đình,2023-10-19,188,0,0,0,0,0,188